@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>部門削除</title>
</head>
<body>
    <h2>削除しました。</h2>
    <a href="/Department/List">部門一覧へ</a>
</body>
</html>

