
@{
    ViewBag.Title = "Update";
}
<style>
    div {
        margin: 0 auto;
    }
</style>

<h2 style="text-align: center">部門更新</h2>
@if (ViewBag.auth == false)
{
    <p>部門名の入力は必須です。</p>
}

<form action="/Department/Update2" method="get">
    <div class="form-group row">
        <label for="inputId" class="col-sm-2 col-form-label">ID　<span class="btn-danger btn-sm" disabled>必須</span></label>
        <div class="col-sm-10">
            <input type="text" name="Id" class="form-control" style="width: 75%" placeholder="入力必須" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">部門名　<span class="btn-danger btn-sm" disabled>必須</span></label>
        <div class="col-sm-10">
            <input type="text" name="Name" class="form-control" placeholder="入力必須" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputSalary" class="col-sm-2 col-form-label">
            給与基準額　<span style="        color: white;
        background-color: gray
" class="btn- btn-sm" disabled>任意</span>
        </label>
        <div class="col-sm-10">
            <input type="text" name="SalaryBase" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPhoneNumber" class="col-sm-2 col-form-label">電話番号　<span style="color:white;background-color:gray" class="btn- btn-sm" disabled>任意</span></label>
        <div class="col-sm-10">
            <input type="text" name="PhoneNumber" class="form-control" />
        </div>
    </div>
        <div class="form-group row">
            <label for="inputLeaderId" class="col-sm-2 col-form-label">責任者ID　<span style="color:white;background-color:gray" class="btn- btn-sm" disabled>任意</span></label>
            <div class="col-sm-10">
                <input type="text" name="LeaderId" class="form-control" />
            </div>
        </div>
    <div class="form-group row">
        <div class="col-sm-10" style="text-align:center">
            <button type="submit" class="btn btn-primary">更新</button>
        </div>
    </div>
</form>
