
@{
    ViewBag.Title = "Update2";
}

<center><h2>部門更新</h2>
<p>以下の内容に変更されました。</p></center>

<center>
    <table class="table">
        <tr>
            <th scope="col">部門名</th>
            <th scope="col">@ViewBag.Name</th>
        </tr>
        <tr>
            <th scope="col">給与基準額</th>
            <th scope="col">@ViewBag.SalaryBase （万円）</th>
		</tr>
		<tr>
			<th scope="col">電話番号</th>
            <th scope="col">@ViewBag.PhoneNumber</th>
		</tr>
		<tr>
			<th scope="col">責任者 ID</th>
            <th scope="col">@ViewBag.LeaderId</th>
		</tr>
    </table>
</center>

<center><p><a href="~/Department/List" 　target="_blank">部門一覧</a></p></center>
