
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>社員一覧</title>
</head>
<body>
    <h2>社員一覧</h2>

    <table border="1">
        <tr>
          <th></th>
          <th>ID</th>
          <th style="text-align:center">名前</th>
          <th>部署ID</th>
        </tr>

      @foreach (var L in ViewBag.list)
      {
        <tr>
          <th><a href="/Employee/Detail/@L.id">詳細</a></th>
          <th>@L.id</th>
          <th>@L.name</th>
          <th>@L.departmentid</th>
        </tr>
       }
    </table>
</body>
</html>
