<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>社員一覧</title>
</head>
<body>
    <h2 style="text-align:center">社員一覧</h2>

    <div style="width:550px; margin:auto">
        <span class="text-primary">
            　<a href="/Employee/Add">新規登録</a>
        </span>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th style="text-align:center">ID</th>
                <th style="text-align:center">名前</th>
                <th style="text-align:center">部門ID</th>
                <th></th>
            </tr>

            @foreach (var L in ViewBag.list)
            {
                <tr>
                    <td style="text-align:center">@L.id</td>
                    <td>@L.name</td>
                    <td style="text-align:center">@L.departmentid</td>
                    <td style="text-align:center">
                        [<span class="text-primary mgr-10">
                            <a href="/Employee/Detail/@L.id">詳細</a>
                        </span>]　
                        [<span class="text-primary mgr-10">
                            <a href="/Employee/Update1/@L.id">変更</a>
                        </span>]　
                        [<span class="text-primary mgr-10">
                            <a href="/Employee/Delete1/@L.id">削除</a>
                        </span>]
                    </td>
                </tr>
            }
        </table>
    <div>
</body>
</html>
